<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="assert/css/clear.css">
	<link rel="stylesheet" type="text/css" href="assert/css/indexcustomer.css">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="assert/js/html5shiv.js"></script>
	<![endif]-->

</head>
<body >
	<header>
		<div id="info" class="clearfix">
			<hgroup class="contact">
				<h3 id="tel">
					Hotline: (+84) 987 68 68 68
				</h3>
				<h3 id="email">
					hello@mate.co
				</h3>
			</hgroup>
			<div class="status">
				<a id="customer" href="javascript:;">My Account</a>
			</div>
			<div class="status">
				<a id="login" href="javascript:;">登录</a>
				<a id="regsiter" href="javascript:;">注册</a>
			</div>
		</div>
		<div class="top">
			<div id= "topnav">
				<div class="wap clearfix">
					<div id="Logo"><img src="./assert/images/logo.png"/></div>
					<form id="search" action="#" method="get">
						<input type="text" name="goodsType" value="AllCategories" readonly>
						<input type="text" name="searchValue" placeholder="Search product..." id="searchValue">
						<input type="submit" value="">
					<form>
				</div>
				<div class="wap clearfix">
					<div id="menu">
						<h1 id="menutitle">CATEGORIES</h1>
						<ul id="menuContent">
						  <li>
						  	<h2 class="goodsType">
						  		<a href="javascript:;"></a>
						  	</h2>
						  	<nav class="Types">
						  		<ul class="typelist">
									<li>
										<h3 class="typeTittle"></h3>
										<p class="typeArea"></p>
									</li>
						  		</ul>
						  		<div class="Recommend"></div>
						  	</nav>
						  </li>
						</ul>
					</div>
					<nav id="topmenu">
						<a href="javascript:;">商城首页</a>
						<a href="javascript:;">女神专卖</a>
						<a href="javascript:;">型男专卖</a>
						<a href="javascript:;">儿童专卖</a>
						<a href="javascript:;">Travel</a>
					</nav>
					<div id="shop">
					 <h1 id="prices"><i>￥</i>700</h1>
					 <div id="Cart">
					 	<div id="shopnum">3</div>
					 	<div id="shopGoods">
					 		<ul class="goodslist">
					 			<li class="clearfix">
					 				<div class="goodsImg"><img src="" alt></div>
									<div class="wap">
						 				<a class="goodsTittle" href="javascript:;">This Is Product Title</a>
						 				<h3 class="goodsPrice">￥7,000.00</h3>
						 				<h4 class="goodsNum">数量：1</h4>
					 				</div>
					 			</li>
					 		</ul>
					 		<div class="gotoPay">
					 			<a href="javascript:;" class="shopCheck">GoTO Pay</a>
					 		</div>
					 	</div>
					 </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="banner">
		<ul class="bannerPic clearfix">
			<li>
				<a href=""><img src="" alt="4"></a>
			</li>
			<li>
				<a href=""><img src="" alt="5"></a>
			</li>
			<li class="active">
				<a href=""><img src="" alt="1"></a>
			</li>
			<li>
				<a href=""><img src="" alt="2"></a>
			</li>
			<li>
				<a href=""><img src="" alt="3"></a>
			</li>
			<li>
				<a href=""><img src="" alt="4"></a>
			</li>
			<li>
				<a href=""><img src="" alt="5"></a>
			</li>
			<li>
				<a href=""><img src="" alt="1"></a>
			</li>
			<li>
				<a href=""><img src="" alt="2"></a>
			</li>
		</ul>
		<ul class="bannerControl clearfix">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div class="left direction">
			<i></i>
		</div>
		<div class="right direction">
			<i></i>
		</div>
	</section>
<!-- 	<section id="service" class="clearfix">
		<a class="shipping" href="javascript:;">
			<h1>包邮服务</h1>
			<h2>39元起免费</h2>
		</a>
		<a class="quality" href="javascript:;">
			<h1>100%正品保证</h1>
			<h2>假一赔十</h2>
		</a>
		<a class="deal" href="javascript:;">
			<h1>大量日常交易</h1>
			<h2>开启交易！</h2>
		</a>
	</section> -->
	<section id="Sliders" class="clearfix">
		<ul>
			<li class="slidergroup-one slidergroup">
				<a class="slider" href="javascript:;">
					<img src="./assert/images/1.png">
				</a>
			</li>
			<li class="slidergroup-two clearfix slidergroup">
				<a class="slider one" href="javascript:;">
					<img src="./assert/images/2.png">
				</a>
				<a class="slider two" href="javascript:;">
					<img src="./assert/images/4.png">
				</a>
				<a class="slider" href="javascript:;">
					<img src="./assert/images/5.png">
				</a>
			</li>
			<li class="slidergroup-three slidergroup">
				<a class="slider" href="javascript:;">
					<img src="./assert/images/3.png">
				</a>
			</li>
		</ul>
	</section>
	<section id="shelves" class="clearfix">
		<section class="container leftcross">
			<section id="best-sell">
				<div class="titlebox">
					<div class="title titleone"></div>
					<a class="more" href="javascript:;">更多热卖 ></a>
				</div>
				<ul class="goodslist clearfix">
					<li class="goods">
						<div class="goods-oper">
							<a href="javascript:;" class="detailed">查看详情</a>
							<div data="" class="addcart">加入购物车</div>
						</div>
						<div class="goods-des">
							<img src="./assert/images/ori.jpg" class="goods-pic">
							<div class="wap">
								<h1 class="goods-tittle">这个是商品的标题</h1>
								<h2 class="sales">销量：<i class="sales-number">292</i></h2>
								<h1 class="price">￥300<i class="old-price">￥500</i></h1>
							</div>
						</div>
					</li>
					<li class="goods">
						<div class="goods-oper">
							<a href="javascript:;" class="detailed">查看详情</a>
							<div data="" class="addcart">加入购物车</div>
						</div>
						<div class="goods-des">
							<img src="./assert/images/551bc1eaN69945803.jpg" class="goods-pic">
							<div class="wap">
								<h1 class="goods-tittle">这个是商品的标题</h1>
								<h2 class="sales">销量：<i class="sales-number">292</i></h2>
								<h1 class="price">￥300<i class="old-price">￥500</i></h1>
							</div>
						</div>
					</li>					
					<li class="goods">
						<div class="goods-oper">
							<a href="javascript:;" class="detailed">查看详情</a>
							<div data="" class="addcart">加入购物车</div>
						</div>
						<div class="goods-des">
							<img src="./assert/images/54eed4edN84a90890.jpg" class="goods-pic">
							<div class="wap">
								<h1 class="goods-tittle">这个是商品的标题</h1>
								<h2 class="sales">销量：<i class="sales-number">292</i></h2>
								<h1 class="price">￥300<i class="old-price">￥500</i></h1>
							</div>
						</div>
					</li>
					<li class="goods">
						<div class="goods-oper">
							<a href="javascript:;" class="detailed">查看详情</a>
							<div data="" class="addcart">加入购物车</div>
						</div>
						<div class="goods-des">
							<img src="./assert/images/d34baa117aa1abb17822337b7bf6_800_800.ch.jpeg" class="goods-pic">
							<div class="wap">
								<h1 class="goods-tittle">这个是商品的标题</h1>
								<h2 class="sales">销量：<i class="sales-number">292</i></h2>
								<h1 class="price">￥300<i class="old-price">￥500</i></h1>
							</div>
						</div>
					</li>
					<li class="goods lastone">
						<div class="goods-oper">
							<a href="javascript:;" class="detailed">查看详情</a>
							<div data="" class="addcart">加入购物车</div>
						</div>
						<div class="goods-des">
							<img src="./assert/images/55d8425aN132989dd.jpg" class="goods-pic">
							<div class="wap">
								<h1 class="goods-tittle">这个是商品的标题</h1>
								<h2 class="sales">销量：<i class="sales-number">292</i></h2>
								<h1 class="price">￥300<i class="old-price">￥500</i></h1>
							</div>
						</div>
					</li>
					
					<!-- <li class="goods real-lastone"></li> -->
				</ul>
			</section>
			<section id="brand">
				<div class="titlebox">
					<div class="title titletwo"></div>
					<a class="more" href="javascript:;">更多名店 ></a>
				</div>
				<ul class="shoplist clearfix">
					<li class="Brandshop">
						<div class="brandtitle">
							<a href="javascript:;"><img src="./assert/images/logo1.png" alt="logo"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods " href="javascript:;">
									<img src="" alt="goods">
									<h1 class="goods-tittle">我是标题</h1>
								</a>
								<a class="brandgoods" href="javascript:;">
									<img src="" alt="goods">
									<h1 class="goods-tittle">我是标题</h1>
								</a>
							</div>
							<div class="second-column">
								<a class="brandgoods " href="javascript:;">
									<img src="" alt="goods">
									<h1 class="goods-tittle">我是标题</h1>
								</a>
								<a class="brandgoods" href="javascript:;">
									<img src="" alt="goods">
									<h1 class="goods-tittle">我是标题</h1>
								</a>
							</div>
						</div>
					</li>
					<li class="Brandshop">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
					<li class="Brandshop">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
					<li class="Brandshop Brandone">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
					<li class="Brandshop">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
					<li class="Brandshop">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
					<li class="Brandshop">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
					<li class="Brandshop Brandone">
						<div class="brandtitle">
							<a href="javascript:;"></a>
						</div>
						<div class="brandlist clearfix">
							<div class="first-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
							<div class="second-column">
								<a class="brandgoods row" href="javascript:;"></a>
								<a class="brandgoods" href="javascript:;"></a>
							</div>
						</div>
					</li>
				</ul>
			</section>
			<section id="discount">
				<div class="titlebox">
					<div class="title titlethree"></div>
					<a class="more" href="javascript:;">更多优惠 ></a>
				</div>
				<div class="link clearfix">
					<a href="javascript:;" class="firstlink">All</a>
					<a href="javascript:;">女装</a>
					<a href="javascript:;">男装</a>
					<a href="javascript:;">童装</a>
				</div>
				<ul class="goodslist clearfix">
					<li class="goods first-goods">
						<a href="javascript:;">
							<img src="">
						</a>
					</li>
					<li class="goods">
						<div class="goods-oper">
							<a href="javascript:;" class="detailed">查看详情</a>
							<div data="" class="addcart">加入购物车</div>
						</div>
						<div class="goods-des">
							<img src="./assert/images/ori.jpg" class="goods-pic">
							<div class="wap">
								<h1 class="goods-tittle">这个是商品的标题</h1>
								<h2 class="sales">销量：<i class="sales-number">292</i></h2>
								<h1 class="price">￥300<i class="old-price">￥500</i></h1>
							</div>
						</div>
					</li>
					<li class="goods">
					</li>
					<li class="goods">
					</li>
					<li class="goods">
					</li>
					<li class="goods">
					</li>
					<li class="goods">
					</li>
					<li class="goods">
					</li>
					<li class="goods">
					</li>
				</ul>
				<div class="advertisementbox-two clearfix">
					<div class="advertisement">
						<a href=""><img src="" alt="adv"></a>
					</div>
					<div class="advertisement">
						<a href=""><img src="" alt="adv"></a>
					</div>
					<div class="advertisement">
						<a href=""><img src="" alt="adv"></a>
					</div>
				</div>
			</section>
		</section>
		<aside class="container">
			<section id="advertisementbox-one">
				<a class="advertisement" href="javascript:;">
					<img src="">
				</a>
				<a class="advertisement" href="javascript:;">
					<img src="">
				</a>
				<a class="advertisement" href="javascript:;">
					<img src="">
				</a>
			</section>
			<section id="hot-today">
				<div class="title"></div>
				<ul class="goodslist">
					<li>
						<a href="javascript:;" class="goods clearfix">
							<img src="" alt="goodspic">
							<div class="wap">
								<h1 class="tittle">我就是商品额的标题DKJASHD</h1>
								<h2 class="star" star="5"></h2>
								<h3 class="num">销售量:<i class="sales-number">234</i></h3>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="goods clearfix">
							<img src="" alt="goodspic">
							<div class="wap">
								<h1 class="tittle">我就是商品额的标题DKJASHD</h1>
								<h2 class="star" star="5"></h2>
								<h3 class="num">销售量:<i class="sales-number">234</i></h3>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="goods clearfix">
							<img src="" alt="goodspic">
							<div class="wap">
								<h1 class="tittle">我就是商品额的标题DKJASHD</h1>
								<h2 class="star" star="5"></h2>
								<h3 class="num">销售量:<i class="sales-number">234</i></h3>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="goods clearfix">
							<img src="" alt="goodspic">
							<div class="wap">
								<h1 class="tittle">我就是商品额的标题DKJASHD</h1>
								<h2 class="star" star="5"></h2>
								<h3 class="num">销售量:<i class="sales-number">234</i></h3>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="goods clearfix">
							<img src="" alt="goodspic">
							<div class="wap">
								<h1 class="tittle">我就是商品额的标题DKJASHD</h1>
								<h2 class="star" star="5"></h2>
								<h3 class="num">销售量:<i class="sales-number">234</i></h3>
							</div>
						</a>
					</li>
				</ul>
				<a class="morething" href="javascript:;">
					更多好东西...
				</a>
			</section>
			<section id="history">
				<div class="title"></div>
				<ul class="clearfix">
					<li class="history-goods">
						<a href="javascript:;">
						 	<img src="" alt="pic">
						 	<h1 class="time"><i class="timenum">12</i><i class="timeunit">分钟</i></h1>
						</a>
					</li>
					<li class="history-goods">
						<a href="javascript:;">
						 	<img src="" alt="pic">
						 	<h1 class="time"><i class="timenum">12</i><i class="timeunit">分钟</i></h1>
						</a>
					</li>
					<li class="history-goods">
						<a href="javascript:;">
						 	<img src="" alt="pic">
						 	<h1 class="time"><i class="timenum">12</i><i class="timeunit">分钟</i></h1>
						</a>
					</li>
					<li class="history-goods">
						<a href="javascript:;">
						 	<img src="" alt="pic">
						 	<h1 class="time"><i class="timenum">12</i><i class="timeunit">分钟</i></h1>
						</a>
					</li>
					<li class="history-goods">
						<a href="javascript:;">
						 	<img src="" alt="pic">
						 	<h1 class="time"><i class="timenum">12</i><i class="timeunit">分钟</i></h1>
						</a>
					</li>
					<li class="history-goods">
						<a href="javascript:;">
						 	<img src="" alt="pic">
						 	<h1 class="time"><i class="timenum">12</i><i class="timeunit">分钟</i></h1>
						</a>
					</li>
				</ul>
			</section>
			<section id="fashion">
				<div class="title"></div>
				<ul>
					<li class="fashion-news">
						<a href="javascript:;" class="clearfix">
						 	<img src="" alt="pic">
						 	<div class="wap">
							 	<h1 class="newstitle">我就是新闻的标题</h1>
							 	<h2 class="news">几点开会的开会看见的恢复快圣诞节和圣诞节后付款就是都很费劲的时间</h2>
						 	</div>
						</a>
					</li>
					<li class="fashion-news">
						<a href="javascript:;" class="clearfix">
						 	<img src="" alt="pic">
						 	<div class="wap">
							 	<h1 class="newstitle">我就是新闻的标题</h1>
							 	<h2 class="news">几点开会的开会看见的恢复快圣诞节和圣诞节后付款就是都很费劲的时间</h2>
						 	</div>
						</a>
					</li>
					<li class="fashion-news">
						<a href="javascript:;" class="clearfix">
						 	<img src="" alt="pic">
						 	<div class="wap">
							 	<h1 class="newstitle">我就是新闻的标题</h1>
							 	<h2 class="news">几点开会的开会看见的恢复快圣诞节和圣诞节后付款就是都很费劲的时间</h2>
						 	</div>
						</a>
					</li>
					<li class="fashion-news">
						<a href="javascript:;" class="clearfix">
						 	<img src="" alt="pic">
						 	<div class="wap">
							 	<h1 class="newstitle">我就是新闻的标题</h1>
							 	<h2 class="news">几点开会的开会看见的恢复快圣诞节和圣诞节后付款就是都很费劲的时间收费是否收到</h2>
						 	</div>
						</a>
					</li>
				</ul>
			</section>
		</aside>
	</section>
	<section id="list">
		<div class="title"></div>
		<ul class="goodslist clearfix">
			<li class="goods">
				<a href="javascript:;" class="goodswap" >
					<img src="./assert/images/ori.jpg" class="goods-pic">
					<div class="wap">
						<h1 class="goods-tittle">这个是商品的标题</h1>
						<div class="pricewap clearfix">
							<h2 class="sales">销量：<i class="sales-number">292</i></h2>
							<h1 class="price">￥300<i class="old-price">￥500</i></h1>
						</div>
					</div>
				</a>
			</li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
		</ul>
	</section>
	<footer>
		<section class="bottom-wap"></section>
		<section class="copyright-wap"></section>
	</footer>
	<script type="text/javascript" src="./assert/js/indexBanner.js"></script>
	<script type="text/javascript" src="./assert/js/indexCustom.js"></script>

</body>
</html>