<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="assert/css/clear.css">
	<link rel="stylesheet" type="text/css" href="assert/css/mencustomer.css">
	<script type="text/javascript" src="./assert/js/jquery-1.12.1.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="assert/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<section id="banner">
			<ul class="bannerPic" >
				<li class="active">
					<a href="https://www.baidu.com/"><img src="./assert/images/menBanner.png" alt="1"></a>
				</li>
				<li>
					<a href="https://www.google.com"><img src="./assert/images/banner_066.jpg" alt="2"></a>
				</li>
				<li>
					<a href=""><img src="./assert/images/els-p-banner4.jpg" alt="3"></a>
				</li>
				<li>
					<a href=""><img src="" alt="4"></a>
				</li>
				<li>
					<a href=""><img src="" alt="5"></a>
				</li>
			</ul>
			<ul class="bannerControl clearfix">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
		<section id="topmenu" class="clearfix">
			<div id="Logo"><img src="./assert/images/logo.png"/></div>
			<nav id="nav">
				<a href="javascript:;">商城首页</a>
				<a href="javascript:;">女神专卖</a>
				<a href="javascript:;">型男专卖</a>
				<a href="javascript:;">儿童专卖</a>
				<a href="javascript:;">fashion</a>
			</nav>
			<div id="searchbox" style="display: none">
				<form action="#" method="get">
					<input type="text" name="searchValue" placeholder="Search product...">
					<input type="submit" value="">
				</form>
			</div>
			<div id="shopcart">
				<em>7</em>
				<i>4</i>
			 	<div id="shopGoods" style="display:none;">
			 		<ul class="goodslist">
			 			<li class="clearfix">
			 				<div class="goodsImg"><img src="" alt></div>
							<div class="wap">
				 				<a class="goodsTittle" href="javascript:;">This Is Product Title</a>
				 				<h3 class="goodsPrice">￥7,000.00</h3>
				 				<h4 class="goodsNum">数量：1</h4>
			 				</div>
			 			</li>
			 		</ul>
			 		<div class="gotoPay">
			 			<a href="javascript:;" class="shopCheck">GoTO Pay</a>
			 		</div>
			 	</div>	 	
			</div>
			 <div class="status">
				<a id="customer" href="javascript:;">My Account</a>
			</div>
			<div class="status clearfix" style="display:none">
				<a id="login" href="javascript:;">登录</a>
				<a id="regsiter" href="javascript:;">注册</a>
			</div>
			<div id="search"><em>&#xe02f;</em></div>
		</section>
	</header>
	<section id="advers">
		<ul class="clearfix">
			<li class="adver first">
				<a href="javascript:;">
					<div class="decorate-one"></div>
					<div class="decorate-two"></div>
					<img src="" alt="adver">
				</a>
			</li>
			<li class="adver">
				<a href="javascript:;">
					<div class="decorate-one"></div>
					<div class="decorate-two"></div>
					<img src="" alt="adver">
				</a>
			</li>
			<li class="adver">
				<a href="javascript:;">
					<div class="decorate-one"></div>
					<div class="decorate-two"></div>
					<img src="" alt="adver">
				</a>
			</li>
			<li class="adver last">	
				<a href="javascript:;">
					<div class="decorate-one"></div>
					<div class="decorate-two"></div>
					<img src="" alt="adver">
				</a>
			</li>
		</ul>
	</section>
	<section id="best-sell">
		<div class="tittlebox clearfix">
			<h1 class="tittle auto">最热单品</h1>
			<div class="decorate">/</div>
			<h1 class="tittle">最新上架</h1>
			<div class="page next"><em>&#xe105;</em></div>
			<div class="page prev"><em>&#xe107;</em></div>
		</div>
		<ul class="goodslist clearfix">
			<li class="goods">
				<div class="action">
					<div class="act cart"><em>7</em></div>
					<a class="act detailed"><em>&#xe02f;</em></a>
					<div class="act like"><em>&#xe10c;</em></div>
				</div>
				<img  src="" alt="goodspic">
				<div class="star clearfix">
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
				</div>
				<h1 class="goods-tittle">我就是标题bugei饿哦飓风</h1>
				<h2 class="price">￥7,000.00<i class="oldprice">￥8,000.00</i></h2>
			</li>
			<li class="goods">
				<div class="action">
					<div class="act cart"><em>7</em></div>
					<a class="act detailed"><em>&#xe02f;</em></a>
					<div class="act like"><em>&#xe10c;</em></div>
				</div>
				<img  src="" alt="goodspic">
				<div class="star clearfix">
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
				</div>
				<h1 class="goods-tittle">我就是标题bugei饿哦飓风</h1>
				<h2 class="price">￥7,000.00<i class="oldprice">￥8,000.00</i></h2>
			</li>
			<li class="goods">
				<div class="action">
					<div class="act cart"><em>7</em></div>
					<a class="act detailed"><em>&#xe02f;</em></a>
					<div class="act like"><em>&#xe10c;</em></div>
				</div>
				<img  src="" alt="goodspic">
				<div class="star clearfix">
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
				</div>
				<h1 class="goods-tittle">我就是标题bugei饿哦飓风</h1>
				<h2 class="price">￥7,000.00<i class="oldprice">￥8,000.00</i></h2>
			</li>
			<li class="goods last">
				<div class="action">
					<div class="act cart"><em>7</em></div>
					<a class="act detailed"><em>&#xe02f;</em></a>
					<div class="act like"><em>&#xe10c;</em></div>
				</div>
				<img  src="" alt="goodspic">
				<div class="star clearfix">
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
					<em>&#xe4b0;</em>
				</div>
				<h1 class="goods-tittle">我就是标题bugei饿哦飓风</h1>
				<h2 class="price">￥7,000.00<i class="oldprice">￥8,000.00</i></h2>
			</li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods last"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods"></li>
			<li class="goods last"></li>
		</ul>
	</section>
	<section id="disc-act">
		<div class="disc-h">
			<h1>LENA FASHION</h1>
			<p>Sale Minimum 55% Discount Or Up To 80% Off On A Big Range Of Clothing</p>
		</div>
		<time class="clearfix">
			<div class="days time">
				<h2>24</h2>
				<p>days</p>
			</div>
			<div class="hours time">
				<h2>24</h2>
				<p>hours</p>
			</div>
			<div class="mins time">
				<h2>0</h2>
				<p>mins</p>
			</div>
			<div class="secs time">
				<h2>0</h2>
				<p>secs</p>
			</div>
		</time>
		<div class="pic">
			<img src="">
		</div>
		<a href="javascript:;" class="viewall">view all</a>
	</section>
	<script type="text/javascript" src="./assert/js/menBanner.js"></script>
	<script type="text/javascript" src="./assert/js/menCustom.js"></script>
	<script type="text/javascript" src="./assert/js/windowscroll.js"></script>
</body>
</html>